body{
    text-align: center;
  background-color: #374056;
}

h1{
    font-size: 5rem;
    font-family: "Arvo",cursive;
    color: rgb(161, 22, 22);
    text-shadow: 4px 0 white;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 20px;

}

footer{
    font-family : sans-serif ;
    margin-top: 40px;
    margin-bottom: 40px;
    color: white;
}

.w{
    background-image: url("images/tom1.png");
}

.a {
  background-image: url("images/tom2.png");
}

.s {
  background-image: url("images/tom3.png");
}

.d {
  background-image: url("images/tom4.png");
}

.j {
  background-image: url("images/snare.png");
}

.k {
  background-image: url("images/crash.png");
}

.l {
  background-image: url("images/kick.png");
}

.drum{
    height: 130px;
    width: 130px;
    border: 10px solid rgb(140, 140, 140);
    border-radius: 15px;
    margin: 15px;
    font-size: 4rem;
    font-family: "Arvo",cursive;
    font-weight: 900;
    text-shadow: 4px 0 black;
    color: rgb(212, 20, 20);
    text-align: center;
}

.pressed{
    box-shadow: 0 3px 4px 0 #DBEDF3;
    opacity: 0.5;
}

.set{
    padding-left: 100px;
    padding-right: 100px;
}